---
layout: page
title: Main
weight: 1.5
show: 1
---

<div class="col-7">
    <center>
  <table>
<tr><td style="padding:10px 90px 10px 0px">
      <img width="200px" class="img-rounded" src="https://avatars2.githubusercontent.com/u/52081023" />
  </td><td style="padding:10px">
    <center>
    <h1>David Dooley </h1>
    <b>Ph.D. Candidate</b> <br> <b>University of Tennesseee</b> <br>
    <span style="font-size:15px"><a href="mailto:ddooley2@vols.utk.edu">[ddooley2@vols.utk.edu]</a> <a href="cv/cv.pdf">[cv]</a></span> </h1> <br>
<b>Systems and Synthetic Biology</b> <br><b>CRISPR Antimicrobials</b> <br>
</center>

      </td>
  </tr>
  </table>
  </center>
<br>
</div>

<p style="font-size: 18px">
  
  My <a href="papers/">research</a> aims to X.</p>

<p style="font-size: 18px">
  I am also interested in Y.</p>


<h3> Current Research Areas </h3>
<p style="font-size: 18px">
<ul style="font-size: 18px">
  <li> 1. </li>
  <li> 2  </li>
  <li> 3  </li>
</ul>
</p>

<h3> Recognition </h3>

<p style="font-size: 18px">
Wow, I'm awesome.
</p>

<h3>Selected Papers</h3>

<p style="font-size: 18px">
Below are a selection of recent publications:
</p>

<table>
{% for paper in site.data.papers.notable %}

  <tr><td style="padding:10px; vertical-align: top;">
      {% if paper.image %}
      <a href="{{paper.pdf}}"><img width="150px" style="min-width:150px" src="{{paper.image}}"></a>
      {% else %}
      <a href="{{paper.pdf}}"><img height="75px" style="min-width:150px" src="https://avatar.vercel.sh/{{paper.id}}"></a>

      {% endif %}
</td><td style="padding:10px">
<a class="paper" href="{{paper.pdf}}">
    <b>{{paper.title}}</b>
</a><br>
{{paper.authors}}.<br>
{{paper.journal}} <br>

<br>

</td></tr>

{% endfor %}
</table>


<!-- 
<h3>Funding</h3>
      <p style="font-size: 18px">
        Our group has been generously supported through research grants and
        gifts from the following industrial institutions:
        <br>
        <br>
      </p>
          </div>
      <div class = "row">
      <center style="span">
        <img width="85px" style="display: inline" src="logos/oracle.png">
        <img width="85px" style="display: inline" src="logos/systranlogo.png">
        <img width="85px" style="display: inline" src="logos/google.jpg">
        <img width="85px" style="display: inline" src="logos/bloomberg.jpg">
        <img width="85px" style="display: inline" src="logos/microsoft.jpg">
        <img width="85px" style="display: inline" src="logos/aws.png">
        <img width="85px" style="display: inline" src="logos/fb.png">
        <img width="85px" style="display: inline" src="logos/intel.jpg">
      </center>
<br>
-->


