---
layout: page
title: Home 
weight: 1.5
show: 1
---

<div class="col-7">
    <center>
  <table>
<tr><td style="padding:10px 90px 10px 0px">
      <img width="200px" class="img-rounded" src="https://avatars2.githubusercontent.com/u/52081023" />
  </td>
  <td style="padding:10px;font-size: 14px">
    <center>
    <b>Ph.D. Candidate</b> <br> <b>University of Tennesseee</b> <br>
    <hr></hr>
        Full-Stack Bacteriologist<br>
        Systems and Synthetic Biology<br>
<div class="col-7">
    <center>
  <table>
<tr><td style="padding:10px">
<div id="dnn_ctr428_ContentPane" class="img-rectangular">
  <div id="dnn_ctr428_ModuleContent" class="DNNModuleContent ModDNNHTMLC">
    <div id="dnn_ctr428_HtmlModule_lblContent" class="Normal">
        <a href="mailto:dools.d@gmail.com"><img src="/logos/mail.png" style="width: 40px; "></a>
    </div>
    </div>
</div>
</td>
<td style="padding:10px">
<div id="dnn_ctr428_ContentPane" class="img-rectangular">
  <div id="dnn_ctr428_ModuleContent" class="DNNModuleContent ModDNNHTMLC">
    <div id="dnn_ctr428_HtmlModule_lblContent" class="Normal">
    <a href="https://linkedin.com/in/ddooley2"><img src="/logos/linkedin.png" style="width: 40px; "></a>
    </div>
    </div>
</div>
</td>
<td style="padding:10px">
<div id="dnn_ctr428_ContentPane" class="img-rectangular">
  <div id="dnn_ctr428_ModuleContent" class="DNNModuleContent ModDNNHTMLC">
    <div id="dnn_ctr428_HtmlModule_lblContent" class="Normal">
    <a href="https://github.com/ddooley2">
            <img src="/logos/githuborange.png" style="width: 40px; "></a>
    </div>

  </div>
</div>

</td>
</tr>
  </table>
</div>



</td>
</tr>
</table>
</center>
</div>
<h4 style = "padding-top: 10px;"> About </h4>
<p style="font-size: 16px;text-align: justify;">
  Husband to Cayla and father to Graham and John Christopher. I call myself a "full-stack" bacteriologist because 
  I can execute high-level research projects from start to finish using both computational and experimental tools.
  In my free time, I enjoy spending time with family, consuming all things sports, and reading classic literature.
  Connect with me via <a href="https://www.linkedin.com/in/ddooley2/">LinkedIn</a> or <a href="mailto:dools.d@gmail.com">email</a>! 
</p>

<h4> Research </h4>
<p style="font-size: 16px;text-align: justify;">
<!-- At some point will want to add a page highlighting professional skills -->
  My <a href="papers/">research</a> aims to develop next-generation CRISPR-Cas antimicrobials for combatting
  virulent bacterial pathogens. Specifically, I employ computational and experimental techniques to:
  <ol style="font-size: 16px";>
      <li> Develop novel gRNA design solutions for selectively removing a bacterial pathogen from a commensal microbiome. </li>
      <li> Construct and characterize orthogonal antimicrobial formulations with improved efficacy and mitigated resistance. </li>
      <li> Improve phage-based packing and delivery of CRISPR payloads.</li>
      <li> Understand genotype-phenotype connections using integrated OMICS analyses.</li>
  </ol>
</p>

<p style="font-size: 16px;text-align: justify;">
  Broadly, I am curious about the systems-level interactions that govern relationships between bacterial hosts and natural/engineered phages.
  Some questions I currently find interesting are:
    <ul style="font-size: 16px">
      <li> How does genetic organization and regulation of (pro)phage genomes impact lysis/lysogeny decisions?
      <li> How do interactions between (pro)phage and host proteins/RNAs influence host metabolism, phage treatment efficacy, and rise of resistance?
      <li> How are host proteomes/transcriptomes/metabolomes dynamically reallocated in response to natural/engineered phage attack?
    </ul>

<h4> Recognition </h4>

<p style="font-size: 16px">
<ul style="font-size: 16px">
    <li> 2024 Outstanding Achievement CBE Graduate Student Award</li>
    <li> 2023 Tickle College of Engineering Fellowship</li>
    <li> 2023 Outstanding Promise CBE Graduate Student Award</li>
    <li> 2021 SARIF Summer Research Graduate Assistantship</li>
    <li> 2019 Tennessee Tech Eminence Award for Outstanding Innovation</li>
</ul>
</p>

<h4>Selected Papers</h4>

<p style="font-size: 16px">
Below are a selection of recent publications:
</p>

<table>
{% for paper in site.data.papers.notable %}

  <tr><td style="padding:10px; vertical-align: top;">
      {% if paper.image %}
      <a href="{{paper.pdf}}"><img width="150px" style="min-width:150px" src="{{paper.image}}"></a>
      {% else %}
      <a href="{{paper.pdf}}"><img height="75px" style="min-width:150px" src="https://avatar.vercel.sh/{{paper.id}}"></a>

      {% endif %}
</td><td style="padding:10px">
<a class="paper" href="{{paper.pdf}}">
    <b>{{paper.title}}</b>
</a><br>
{{paper.authors}}.<br>
{{paper.journal}} <br>

<br>

</td></tr>

{% endfor %}
</table>

