---
layout: page
title: Publications
permalink: /papers/
weight: 4
show: 1
---

<h3>Papers</h3>



<p>
  
  
My full list of papers is <a href="https://scholar.google.com/citations?user=Q93jRoYAAAAJ&hl=en">here</a>.
</p>
<table>
{% for paper in site.data.papers.papers %}

  <tr><td style="padding:10px; vertical-align: top;">
      {% if paper.image %}
      <a href="{{paper.pdf}}"><img width="200px" style="min-width:150px" src="{{paper.image}}"></a>
      {% else %}
      <a href="{{paper.pdf}}"><img height="75px" style="min-width:150px" src="https://avatar.vercel.sh/{{paper.id}}"></a>
      {% endif %}
</td><td style="padding:10px">
<a class="paper" href="{{paper.pdf}}">
    <b>{{paper.title}}</b>
</a><br>
{{paper.authors}}.<br>
{{paper.conference}} <br>

<br>

</td></tr>

{% endfor %}
</table>


